{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center">
                <div class="overlay-main innr-bnr-olay"></div>
                <div class="wt-bnr-inr-entry">
                    <div class="banner-title-outer">
                        <div class="banner-title-name">
                            <h2 class="wt-title">About World By ARK</h2>
                        </div>
                        <!-- BREADCRUMB ROW -->
                        <div>
                            <ul class="wt-breadcrumb breadcrumb-style-2">
                                <li><a href="index.html">Home</a></li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                    <!-- BREADCRUMB ROW END -->
                </div>
                <div class="trv-inr-bnr-cloud">
                    <div class="marquee">
                        <img src="{% static 'assets/images/inr-banner-cloud.png' %}" alt="Image">
                    </div>
                </div>
                <div class="trv-inr-bnr-plane">
                    <div class="trv-inr-bnr-plane-bx"><img src="{% static 'assets/images/airplane.png' %}" alt="Image"></div>

                </div>
                <div class="trv-inr-bnr-bloon-1"><img src="{% static 'assets/images/hotballon-Left.png' %}" alt="Image"></div>
                <div class="trv-inr-bnr-bloon-2"><img src="{% static 'assets/images/hotballon-right.png' %}" alt="Image"></div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!--WE RECOMMEND SECTION START-->
            <div class="section-full p-t120 p-b0 trv-we-recommend2">
                <div class="container">
                    <div class="section-content">
                        <div class="trv-we-recommend2-row">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class=" trv-we-rec3-media-main-wrap">
                                        <div class="trc-we-rec3-l-bx">
                                            <img src="{% static 'assets/images/abt-pic1.png' %}" alt="image">
                                        </div>
                                        <div class="trc-we-rec3-circle-bx1">
                                            <img src="{% static 'assets/images/we-rec3-pic.jpg' %}" alt="image">
                                        </div>
                                        <div class="trc-we-rec3-circle-bx2">
                                            <img src="{% static 'assets/images/we-rec3-pic2.jpg' %}" alt="image">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12">
                                    <div class="trv-we-recommend-content">
                                        <!-- TITLE START-->
                                        <div class="section-head trv-head-title-wrap left-position">
                                            <h2 class="trv-head-title">About <span class="site-text-yellow">World By
                                                    ARK</span></h2>
                                            <div class="trv-head-discription">
                                                <p>World By ARK is a sister concern of an Italian travel company. Now we
                                                    have introduced in India with more packages and offers. This gives
                                                    an opportunity for Indian clients to enjoy European travel journey
                                                    more localized. We also provide our travel services in India.</p>
                                            </div>
                                        </div>
                                        <!-- TITLE END-->

                                        <div class="trv-we-rec-mid2-section">

                                            <div class="trv-icon-bx-st2 m-b20">
                                                <div class="trv-icon-bx-media"><span><img
                                                            src="{% static 'assets/images/trv-icon/travel-guide.png' %}" alt="#"></span></div>
                                                <div class="trv-icon-bx-info">
                                                    <h4 class="trv-icon-bx-title">Quality of Service</h4>
                                                    <p class="p-text">Highest in travel industry with hand picked
                                                        itineraries.</p>
                                                </div>
                                            </div>
                                            <div class="trv-icon-bx-st2 m-b20">
                                                <div class="trv-icon-bx-media"><span><img
                                                            src="{% static 'assets/images/trv-icon/mission-icon.png' %}" alt="#"></span></div>
                                                <div class="trv-icon-bx-info">
                                                    <h4 class="trv-icon-bx-title">24/7 Personal Care</h4>
                                                    <p class="p-text">Dedicated tour managers, it can be emergency,
                                                        booking changes or request issues.</p>
                                                </div>
                                            </div>
                                            <div class="trv-icon-bx-st2 m-b20">
                                                <div class="trv-icon-bx-media"><span><img
                                                            src="{% static 'assets/images/trv-icon/travel-guide.png' %}" alt="#"></span></div>
                                                <div class="trv-icon-bx-info">
                                                    <h4 class="trv-icon-bx-title">Flexibility & Customization</h4>
                                                    <p class="p-text">Plan your dream with no rigidity, book desired
                                                        hotels and tours.</p>
                                                </div>
                                            </div>
                                            {% comment %} <div class="trv-icon-bx-st2 m-b20">
                                                <div class="trv-icon-bx-media"><span><img
                                                            src="{% static 'assets/images/trv-icon/mission-icon.png' %}" alt="#"></span></div>
                                                <div class="trv-icon-bx-info">
                                                    <h4 class="trv-icon-bx-title">100% Transparency</h4>
                                                    <p class="p-text">Instant confirmation in 20 mins with no hidden
                                                        charges.</p>
                                                </div>
                                            </div> {% endcomment %}

                                        </div>

                                        <div class="trv-we-rec-bottom-section">
                                            <div class="trv-we-rec-btn">
                                                <a href="destinations.html" class="site-button butn-bg-shape">Discover
                                                    More</a>
                                            </div>
                                            <div class="trv-hpy-cus">
                                                <div class="trv-cus-pic-box">
                                                    <span class="trv-cus-pic-box-pic first-bx">
                                                        <img src="{% static 'assets/images/hpy-cus/pic1.jpg' %}" alt="">
                                                    </span>
                                                    <span class="trv-cus-pic-box-pic">
                                                        <img src="{% static 'assets/images/hpy-cus/pic2.jpg' %}" alt="">
                                                    </span>
                                                    <span class="trv-cus-pic-box-pic">
                                                        <img src="{% static 'assets/images/hpy-cus/pic3.jpg' %}" alt="">
                                                    </span>
                                                </div>
                                                <div class="trv-hpy-cus-count">
                                                    <span>3.5k</span>
                                                    <p>Happy Customer</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="trv-year-section2">
                                            <div class="trv-year-info">
                                                <h2 class="numbr">25</h2>
                                                <span>Years of Experience</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--WE RECOMMEND SECTION END-->


            <!--POPULAR DESTINATION SECTION START-->
            <div class="section-full p-t120 p-b90 trv-popular-destination tvr-hot-ballon-wrap"
                style="background-image: url(images/background/Cloud-bg.png)">
                <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head trv-head-title-wrap center-position">
                        <h2 class="trv-head-title"><span class="site-text-yellow">Popular </span>Destination</h2>
                        <div class="trv-head-discription">Destinations worth exploring! Here are a few popular spots
                        </div>
                        <div class="trv-head-title-image">
                            <img src="{% static 'assets/images/background/Title-Separator.png' %}" alt="Image">
                        </div>
                    </div>
                    <!-- TITLE END-->

                    <div class="section-content">

                        <div
                            class="swiper trv-popular-destination-row trv-pop-des-st1-carousal swiper-nav-center-bottom">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="trv-destination-bx1">
                                        <div class="trv-media">
                                            <a href="destination-detail.html"><img
                                                    src="{% static 'assets/images/destinations/style1/pic1.jpg' %}" alt="Image"></a>
                                        </div>
                                        <div class="trv-content">
                                            <h3 class="trv-title"><a href="destination-detail.html">Paris</a></h3>
                                        </div>
                                        <div class="trv-on-hover">
                                            <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="trv-destination-bx1">
                                        <div class="trv-media">
                                            <a href="destination-detail.html"><img
                                                    src="{% static 'assets/images/destinations/style1/pic2.jpg' %}" alt="Image"></a>
                                        </div>
                                        <div class="trv-content">
                                            <h3 class="trv-title"><a href="destination-detail.html">Maldives</a></h3>
                                        </div>
                                        <div class="trv-on-hover">
                                            <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="trv-destination-bx1">
                                        <div class="trv-media">
                                            <a href="destination-detail.html"><img
                                                    src="{% static 'assets/images/destinations/style1/pic3.jpg' %}" alt="Image"></a>
                                        </div>
                                        <div class="trv-content">
                                            <h3 class="trv-title"><a href="destination-detail.html">Hong Kong</a></h3>
                                        </div>
                                        <div class="trv-on-hover">
                                            <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="trv-destination-bx1">
                                        <div class="trv-media">
                                            <a href="destination-detail.html"><img
                                                    src="{% static 'assets/images/destinations/style1/pic4.jpg' %}" alt="Image"></a>
                                        </div>
                                        <div class="trv-content">
                                            <h3 class="trv-title"><a href="destination-detail.html">Thailand</a></h3>
                                        </div>
                                        <div class="trv-on-hover">
                                            <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="trv-destination-bx1">
                                        <div class="trv-media">
                                            <a href="destination-detail.html"><img
                                                    src="{% static 'assets/images/destinations/style1/pic5.jpg' %}" alt="Image"></a>
                                        </div>
                                        <div class="trv-content">
                                            <h3 class="trv-title"><a href="destination-detail.html">Bangkok</a></h3>
                                        </div>
                                        <div class="trv-on-hover">
                                            <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="trv-destination-bx1">
                                        <div class="trv-media">
                                            <a href="destination-detail.html"><img
                                                    src="{% static 'assets/images/destinations/style1/pic6.jpg' %}" alt="Image"></a>
                                        </div>
                                        <div class="trv-content">
                                            <h3 class="trv-title"><a href="destination-detail.html">Tokyo</a></h3>
                                        </div>
                                        <div class="trv-on-hover">
                                            <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="trv-destination-bx1">
                                        <div class="trv-media">
                                            <a href="destination-detail.html"><img
                                                    src="{% static 'assets/images/destinations/style1/pic7.jpg' %}" alt="Image"></a>
                                        </div>
                                        <div class="trv-content">
                                            <h3 class="trv-title"><a href="destination-detail.html">Spain</a></h3>
                                        </div>
                                        <div class="trv-on-hover">
                                            <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="trv-destination-bx1">
                                        <div class="trv-media">
                                            <a href="destination-detail.html"><img
                                                    src="{% static 'assets/images/destinations/style1/pic8.jpg' %}" alt="Image"></a>
                                        </div>
                                        <div class="trv-content">
                                            <h3 class="trv-title"><a href="destination-detail.html">California</a></h3>
                                        </div>
                                        <div class="trv-on-hover">
                                            <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>

                    </div>

                </div>

                <div class="left-hot-ballon"><img src="{% static 'assets/images/hotballon-Left.png' %}" alt="image"></div>
                <div class="right-hot-ballon"><img src="{% static 'assets/images/hotballon-right.png' %}" alt="image"></div>

            </div>
            <!--POPULAR DESTINATION SECTION END-->

            <!-- tv service style 1 start -->
            <div class="trv-service-st1">
                <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head trv-head-title-wrap center-position with-bg-dark">
                        <h2 class="trv-head-title"><span class="site-text-yellow">Our Amazing</span> Services</h2>
                        <div class="trv-head-discription">Destinations worth exploring! Here are a few popular spots
                        </div>
                        <div class="trv-head-title-image">
                            <img src="{% static 'assets/images/background/TitleSeparator2.png' %}" alt="Image">
                        </div>
                    </div>
                    <!-- TITLE END-->
                </div>
                <div class="trv-service-back-bg">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="trv-service-bx1">
                                <div class="trv-media">
                                    <img src="{% static 'assets/images/trv-services/1.jpg' %}" alt="image">
                                </div>
                                <div class="trv-info">
                                    <h4 class="trv-title"><a href="javascript:void(0);" style="cursor: default;">Tour Guide</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="trv-service-bx1">
                                <div class="trv-media">
                                    <img src="{% static 'assets/images/trv-services/2.jpg' %}" alt="image">
                                </div>
                                <div class="trv-info">
                                    <h4 class="trv-title"><a href="javascript:void(0);" style="cursor: default;">Entertainment</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="trv-service-bx1">
                                <div class="trv-media">
                                    <img src="{% static 'assets/images/trv-services/3.jpg' %}" alt="image">
                                </div>
                                <div class="trv-info">
                                    <h4 class="trv-title"><a href="javascript:void(0);" style="cursor: default;">Safe Flight</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="trv-service-bx1">
                                <div class="trv-media">
                                    <img src="{% static 'assets/images/trv-services/4.jpg' %}" alt="image">
                                </div>
                                <div class="trv-info">
                                    <h4 class="trv-title"><a href="javascript:void(0);" style="cursor: default;">Texi & Metro</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="trv-service-bx1">
                                <div class="trv-media">
                                    <img src="{% static 'assets/images/trv-services/5.jpg' %}" alt="image">
                                </div>
                                <div class="trv-info">
                                    <h4 class="trv-title"><a href="javascript:void(0);" style="cursor: default;">Delicious Food</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="trv-service-bx1">
                                <div class="trv-media">
                                    <img src="{% static 'assets/images/trv-services/6.jpg' %}" alt="image">
                                </div>
                                <div class="trv-info">
                                    <h4 class="trv-title"><a href="javascript:void(0);" style="cursor: default;">Spa & Massages</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="trv-service-bx1">
                                <div class="trv-media">
                                    <img src="{% static 'assets/images/trv-services/7.jpg' %}" alt="image">
                                </div>
                                <div class="trv-info">
                                    <h4 class="trv-title"><a href="javascript:void(0);" style="cursor: default;">Interesting Rest</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="trv-service-bx1">
                                <div class="trv-media">
                                    <img src="{% static 'assets/images/trv-services/8.jpg' %}" alt="image">
                                </div>
                                <div class="trv-info">
                                    <h4 class="trv-title"><a href="javascript:void(0);" style="cursor: default;">Pickup & Drop</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="trv-btm-title-section">
                        <span>Wornderful Services For You</span>
                        <h2 class="trv-btm-title-large">Services We Offer</h2>
                    </div>
                </div>
            </div>
            <!-- tv service style 1 end-->


            <!--TESTIMONIAL SECTION START-->
            <div class="section-full trv-testimonial-st2-wrap tvr-hot-ballon-wrap">
                <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head trv-head-title-wrap center-position">
                        <h2 class="trv-head-title">Our Client <span class="site-text-yellow">Says! </span></h2>
                        <div class="trv-head-discription">Destinations worth exploring! Here are a few popular spots
                        </div>
                        <div class="trv-head-title-image">
                            <img src="{% static 'assets/images/background/Title-Separator.png' %}" alt="Image">
                        </div>
                    </div>
                    <!-- TITLE END-->
                    <div class="section-content">
                        <div class="trv-gradi-text">
                            Testimonial
                            <img src="{% static 'assets/images/airplane-takeoff1.png' %}" alt="Image">
                        </div>

                        <div class="trv-testimonial-st2">
                            <!--Image Slider-->
                            <div class="swiper testimonial-content-sld">
                                <div class="swiper-wrapper">
                                    <!--1-->
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2">
                                            <div class="media">
                                                <img src="{% static 'assets/images/trv-testimonial2/pic1.jpg' %}" alt="Image">
                                            </div>
                                            <div class="info">
                                                <div class="trv-testimo-head">
                                                    <div class="left-part">
                                                        <h4 class="trv-testimonial-name">Amelia Warner</h4>
                                                        <span class="trv-testimonial-position">Tourist</span>
                                                    </div>
                                                    <div class="right-part">
                                                        <img src="{% static 'assets/images/trv-icon/Quote.png' %}" alt="image">
                                                    </div>
                                                </div>
                                                <p>
                                                    Once the travel bug bites, there is no known antidote, and I know
                                                    that I shall be happily infected until the end of my life. A journey
                                                    is best measured in friends.
                                                </p>
                                                <div class="rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2">
                                            <div class="media">
                                                <img src="{% static 'assets/images/trv-testimonial2/pic2.jpg' %}" alt="Image">
                                            </div>
                                            <div class="info">
                                                <div class="trv-testimo-head">
                                                    <div class="left-part">
                                                        <h4 class="trv-testimonial-name">Kavin Martin</h4>
                                                        <span class="trv-testimonial-position">Travler</span>
                                                    </div>
                                                    <div class="right-part">
                                                        <img src="{% static 'assets/images/trv-icon/Quote.png' %}" alt="Image">
                                                    </div>
                                                </div>
                                                <p>
                                                    I Was Very Impresed Lorem posuere in miss drana en the nisan semere
                                                    sceriun amiss etiam ornare in the miss drana is lorem fermen nunta
                                                    mauris.
                                                </p>
                                                <div class="rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--3-->
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2">
                                            <div class="media">
                                                <img src="{% static 'assets/images/trv-testimonial2/pic3.jpg' %}" alt="Image">
                                            </div>
                                            <div class="info">
                                                <div class="trv-testimo-head">
                                                    <div class="left-part">
                                                        <h4 class="trv-testimonial-name">Antonio</h4>
                                                        <span class="trv-testimonial-position">Tourist</span>
                                                    </div>
                                                    <div class="right-part">
                                                        <img src="{% static 'assets/images/trv-icon/Quote.png' %}" alt="Image">
                                                    </div>
                                                </div>
                                                <p>
                                                    Travel bug bites, there is no known antidote, and I know that I
                                                    shall be happily infected until the end of my life. A journey is
                                                    best measured in friends.
                                                </p>
                                                <div class="rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--4-->
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2">
                                            <div class="media">
                                                <img src="{% static 'assets/images/trv-testimonial2/pic4.jpg' %}" alt="Image">
                                            </div>
                                            <div class="info">
                                                <div class="trv-testimo-head">
                                                    <div class="left-part">
                                                        <h4 class="trv-testimonial-name">Zeynep</h4>
                                                        <span class="trv-testimonial-position">Tourist</span>
                                                    </div>
                                                    <div class="right-part">
                                                        <img src="{% static 'assets/images/trv-icon/Quote.png' %}" alt="Image">
                                                    </div>
                                                </div>
                                                <p>
                                                    There is no known antidote, and I know that I shall be happily
                                                    infected until the end of my life. A journey is best measured in
                                                    friends.
                                                </p>
                                                <div class="rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--1-->
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2">
                                            <div class="media">
                                                <img src="{% static 'assets/images/trv-testimonial2/pic1.jpg' %}" alt="Image">
                                            </div>
                                            <div class="info">
                                                <div class="trv-testimo-head">
                                                    <div class="left-part">
                                                        <h4 class="trv-testimonial-name">Amelia Warner</h4>
                                                        <span class="trv-testimonial-position">Tourist</span>
                                                    </div>
                                                    <div class="right-part">
                                                        <img src="{% static 'assets/images/trv-icon/Quote.png' %}" alt="Image">
                                                    </div>
                                                </div>
                                                <p>
                                                    Once the travel bug bites, there is no known antidote, and I know
                                                    that I shall be happily infected until the end of my life. A journey
                                                    is best measured in friends.
                                                </p>
                                                <div class="rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2">
                                            <div class="media">
                                                <img src="{% static 'assets/images/trv-testimonial2/pic2.jpg' %}" alt="Image">
                                            </div>
                                            <div class="info">
                                                <div class="trv-testimo-head">
                                                    <div class="left-part">
                                                        <h4 class="trv-testimonial-name">Kavin Martin</h4>
                                                        <span class="trv-testimonial-position">Travler</span>
                                                    </div>
                                                    <div class="right-part">
                                                        <img src="{% static 'assets/images/trv-icon/Quote.png' %}" alt="Image">
                                                    </div>
                                                </div>
                                                <p>
                                                    I Was Very Impresed Lorem posuere in miss drana en the nisan semere
                                                    sceriun amiss etiam ornare in the miss drana is lorem fermen nunta
                                                    mauris.
                                                </p>
                                                <div class="rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--3-->
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2">
                                            <div class="media">
                                                <img src="{% static 'assets/images/trv-testimonial2/pic3.jpg' %}" alt="Image">
                                            </div>
                                            <div class="info">
                                                <div class="trv-testimo-head">
                                                    <div class="left-part">
                                                        <h4 class="trv-testimonial-name">Antonio</h4>
                                                        <span class="trv-testimonial-position">Tourist</span>
                                                    </div>
                                                    <div class="right-part">
                                                        <img src="{% static 'assets/images/trv-icon/Quote.png' %}" alt="Image">
                                                    </div>
                                                </div>
                                                <p>
                                                    Travel bug bites, there is no known antidote, and I know that I
                                                    shall be happily infected until the end of my life. A journey is
                                                    best measured in friends.
                                                </p>
                                                <div class="rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--4-->
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2">
                                            <div class="media">
                                                <img src="{% static 'assets/images/trv-testimonial2/pic4.jpg' %}" alt="Image">
                                            </div>
                                            <div class="info">
                                                <div class="trv-testimo-head">
                                                    <div class="left-part">
                                                        <h4 class="trv-testimonial-name">Zeynep</h4>
                                                        <span class="trv-testimonial-position">Tourist</span>
                                                    </div>
                                                    <div class="right-part">
                                                        <img src="{% static 'assets/images/trv-icon/Quote.png' %}" alt="Image">
                                                    </div>
                                                </div>
                                                <p>
                                                    There is no known antidote, and I know that I shall be happily
                                                    infected until the end of my life. A journey is best measured in
                                                    friends.
                                                </p>
                                                <div class="rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-content-sld-control">
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>

                            </div>
                            <!--Thumbnail Slider-->
                            <div class="swiper testimonial-thum-sld">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2-thumb">
                                            <img src="{% static 'assets/images/trv-testimonial2/pic1.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2-thumb">
                                            <img src="{% static 'assets/images/trv-testimonial2/pic2.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2-thumb">
                                            <img src="{% static 'assets/images/trv-testimonial2/pic3.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2-thumb">
                                            <img src="{% static 'assets/images/trv-testimonial2/pic4.jpg' %}" alt="Image">
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2-thumb">
                                            <img src="{% static 'assets/images/trv-testimonial2/pic1.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2-thumb">
                                            <img src="{% static 'assets/images/trv-testimonial2/pic2.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2-thumb">
                                            <img src="{% static 'assets/images/trv-testimonial2/pic3.jpg' %}" alt="Image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="trv-testimo-bx2-thumb">
                                            <img src="{% static 'assets/images/trv-testimonial2/pic4.jpg' %}" alt="Image">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-hot-ballon"><img src="{% static 'assets/images/hotballon-right.png' %}" alt="image"></div>
            </div>
            <!--TESTIMONIAL SECTION End-->


        </div>
        <!-- CONTENT END -->
{% endblock %}
