{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper bg-center">
            <div class="overlay-main innr-bnr-olay"></div>
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="wt-title">Travel Blogs</h2>
                    </div>
                    <!-- BREADCRUMB ROW -->                            
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Blogs</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->                        
            </div>
            <div class="trv-inr-bnr-cloud">            
                <div class="marquee">
                    <img src="{% static 'assets/images/inr-banner-cloud.png' %}" alt="Image">
                </div>
            </div>
            <div class="trv-inr-bnr-plane">
                <div class="trv-inr-bnr-plane-bx"><img src="{% static 'assets/images/airplane.png' %}" alt="Image"></div>
                
            </div>
            <div class="trv-inr-bnr-bloon-1"><img src="{% static 'assets/images/hotballon-Left.png' %}" alt="Image"></div>
            <div class="trv-inr-bnr-bloon-2"><img src="{% static 'assets/images/hotballon-right.png' %}" alt="Image"></div>
        </div>
        <!-- INNER PAGE BANNER END -->
        
        <!-- SECTION START -->
        <div class="section-full  p-t120 p-b90">
            <div class="container">
            
                <!-- BLOG SECTION START -->
                <div class="section-content">
                    <div class="row d-flex justify-content-center">
                    
                        <div class="col-xl-8 col-lg-8 col-md-12 m-b30">
                            <div class="blog-list-outer">

                                {% for blog in blogs %}
                                <div class="trv-blog-list-st m-b30">
                                    <div class="trv-media">
                                        <a href="{% url 'blog_detail' blog.slug %}"><img src="{{ blog.image.url }}" alt="{{ blog.title }}"></a>
                                    </div>
                                    <div class="trv-info">
                                        <ul class="trv-post-meta">
                                            <li class="post-comment">{{ blog.created_at|date:"d M Y" }}</li>
                                        </ul>
                                        <h3 class="trv-title">
                                            <a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a>
                                        </h3>
                                        <p>{{ blog.description|truncatewords:30 }}</p>
                                        <a class="site-button butn-bg-shape" href="{% url 'blog_detail' blog.slug %}">Read More</a>
                                    </div>
                                </div>
                                {% empty %}
                                <p class="text-muted">No blog posts yet. Check back soon!</p>
                                {% endfor %}

                            </div>

                            <!-- Pagination -->
                            {% if blogs.has_other_pages %}
                            <ul class="custom-pagination clearfix">
                                {% if blogs.has_previous %}
                                <li class="prev"><a href="?page={{ blogs.previous_page_number }}"><span class="bi bi-chevron-left"></span></a></li>
                                {% endif %}
                                {% for num in blogs.paginator.page_range %}
                                <li {% if blogs.number == num %}class="active"{% endif %}><a href="?page={{ num }}">{{ num }}</a></li>
                                {% endfor %}
                                {% if blogs.has_next %}
                                <li class="next"><a href="?page={{ blogs.next_page_number }}"><span class="bi bi-chevron-right"></span></a></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div> 
                        
                        <!-- SIDE BAR START -->
                        <div class="col-xl-4 col-lg-4 col-md-12 rightSidebar  m-b30">
                        
                            <aside  class="side-bar">

    

                                <!-- RECENT POSTS -->
                                <div class="widget trv-recent-posts">
                                    <div class="m-b20">
                                        <h4 class="widget-title">Recent Posts</h4>
                                    </div>
                                    <div class="trv-recent-posts-bx">
                                        <div class="trv-rc-po-st1">
                                            <div class="post-date"><span>14</span>June</div>                                        
                                            <div class="trv-post-info">
                                                <div class="post-category">Aidan Butler</div>
                                                <div class="trv-post-title ">
                                                    <h5 class="post-title"><a href="{% url 'blogs' %}">Resources for your first trip to overseas vacation</a></h5>
                                                </div>
                                            </div>                                
                                        </div>
                                        <div class="trv-rc-po-st1">
                                            <div class="post-date"><span>20</span>June</div>                                        
                                            <div class="trv-post-info">
                                                <div class="post-category">Ricardo Bell</div>
                                                <div class="trv-post-title ">
                                                    <h5 class="post-title"><a href="{% url 'blogs' %}">How to get acquainted with natives in a strange land</a></h5>
                                                </div>
                                            </div>                                
                                        </div>
                                        <div class="trv-rc-po-st1">
                                            <div class="post-date"><span>24</span>June</div>                                        
                                            <div class="trv-post-info">
                                                <div class="post-category">Martin Hicks</div>
                                                <div class="trv-post-title ">
                                                    <h5 class="post-title"><a href="{% url 'blogs' %}">Step by step guide to planning your ideal holiday</a></h5>
                                                </div>
                                            </div>                                
                                        </div>
                                    </div>
                                    
                                </div>

                                <!-- Top Destinations -->   
                                <div class="widget widget_services">
                                    <div class="m-b20">
                                        <h4 class="widget-title">Top Destinations</h4>
                                    </div>
                                    <ul>
                                        <li><a href="blog-grid.html">Thailand</a><span class="badge">( 05 Listing )</span></li>
                                        <li><a href="blog-grid.html">Maldives</a><span class="badge">( 07 Listing )</span></li>
                                        <li><a href="blog-grid.html">Bangkok</a><span class="badge">( 08 Listing )</span></li>
                                        <li><a href="blog-grid.html">Peris</a><span class="badge">( 09 Listing )</span></li>
                                        <li><a href="blog-grid.html">Spain</a><span class="badge">( 02 Listing )</span></li>
                                    </ul>
                                </div>  



                                <!-- GALLERY -->
                                <div class="widget widget_gallery">
                                    <div class="m-b20">
                                        <h4 class="widget-title">Gallery</h4>
                                    </div>
                                    <div class="tw-sidebar-gallery">
                                        <ul>

                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic1.jpg' %}" title="Title 1" data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic1.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic1.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic2.jpg' %}" title="Title 2" data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic2.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic2.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb ">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic3.jpg' %}" title="Title 3"  data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic3.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic3.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic4.jpg' %}" title="Title 4"  data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic4.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic4.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic5.jpg' %}" title="Title 5"  data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic5.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic5.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic6.jpg' %}" title="Title 6"  data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic6.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic6.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                        </ul>
                                    </div> 
                                </div> 

                                

                            </aside>

                        </div>
                        <!-- SIDE BAR END -->                          
                                                    
                    </div>

                </div>
                
            </div>
            
        </div>   
        <!-- SECTION END -->
        
        <!--ALL BLOGS SECTION START-->
        <div class="trv-blog-all-style p-t120 p-b90">
            <div class="container">
                <!-- TITLE START-->
                <div class="row trv-column-style-head">
                    <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="section-head trv-head-title-wrap left-position">
                            <h2 class="trv-head-title">Explore<span class="site-text-yellow"> Latest News</span></h2>
                            <div class="trv-head-discription">Maybe for a travel blog, wildlife site, or web development project here are a few sample templates you can use to simulate real-time news updates:</div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-6 col-md-12">
                        <div class="trv-column-style-head-btn">
                            <a href="{% url 'blogs' %}" class="site-button butn-bg-shape">See More Articles</a>
                        </div>
                    </div>
                </div>
                <!-- TITLE END-->

                <div class="section-content">

                    <div class="row d-flex justify-content-center">

                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="trv-blog-st1">
                                <div class="trv-post-media">
                                    <a href="{% url 'blogs' %}"><img src="{% static 'assets/images/trv-blog/blog-sm/pic1.jpg' %}" alt="Image"></a>
                                </div>
                                
                                <div class="post-date"><span>14</span>June</div>                                        
                                <div class="trv-post-info">
                                    <div class="post-category">Aidan Butler</div>
                                    <div class="trv-post-title ">
                                        <h5 class="post-title"><a href="{% url 'blogs' %}">Resources for your first trip to overseas vacation</a></h5>
                                    </div>
                                </div>                                
                            </div>

                            <div class="trv-blog-st1">
                                <div class="trv-post-media">
                                    <a href="{% url 'blogs' %}"><img src="{% static 'assets/images/trv-blog/blog-sm/pic2.jpg' %}" alt="Image"></a>
                                </div>
                                
                                <div class="post-date"><span>26</span>June</div>                                        
                                <div class="trv-post-info">
                                    <div class="post-category">Ricardo Bell</div>
                                    <div class="trv-post-title ">
                                        <h5 class="post-title"><a href="{% url 'blogs' %}">How to get acquainted with natives in a strange land</a></h5>
                                    </div>
                                </div>                                
                            </div>

                            <div class="trv-blog-st1">
                                <div class="trv-post-media">
                                    <a href="{% url 'blogs' %}"><img src="{% static 'assets/images/trv-blog/blog-sm/pic3.jpg' %}" alt="Image"></a>
                                </div>
                                
                                <div class="post-date"><span>20</span>June</div>                                        
                                <div class="trv-post-info">
                                    <div class="post-category">Martin Hicks</div>
                                    <div class="trv-post-title ">
                                        <h5 class="post-title"><a href="{% url 'blogs' %}">Resources for your first trip to overseas vacation</a></h5>
                                    </div>
                                </div>                                
                            </div>

                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="trv-blog-st1">
                                <div class="trv-post-media">
                                    <a href="{% url 'blogs' %}"><img src="{% static 'assets/images/trv-blog/blog-sm/pic4.jpg' %}" alt="Image"></a>
                                </div>
                                
                                <div class="post-date"><span>28</span>June</div>                                        
                                <div class="trv-post-info">
                                    <div class="post-category">Poul Ward</div>
                                    <div class="trv-post-title ">
                                        <h5 class="post-title"><a href="{% url 'blogs' %}">Step by step guide to planning your ideal holiday</a></h5>
                                    </div>
                                </div>                                
                            </div>


                            <div class="trv-blog-st2">
                                <div class="trv-post-media">
                                    <a href="{% url 'blogs' %}"><img src="{% static 'assets/images/trv-blog/blog-md/pic1.jpg' %}" alt="Image"></a>
                                </div>
                                
                                <div class="post-date"><span>28</span>June</div>                                        
                                <div class="trv-post-info">
                                    <div class="post-category">Poul Ward</div>
                                    <div class="trv-post-title ">
                                        <h5 class="post-title"><a href="{% url 'blogs' %}">Step by step guide to planning your ideal holiday</a></h5>
                                    </div>
                                </div>                                
                            </div>
                        

                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6">

                            <div class="trv-blog-st3">
                                <div class="trv-post-media">
                                    <a href="{% url 'blogs' %}"><img src="{% static 'assets/images/trv-blog/blog-lg/pic1.jpg' %}" alt="Image"></a>
                                </div>
                                
                                <div class="post-date"><span>08</span>June</div>                                        
                                <div class="trv-post-info">
                                    <div class="post-category">By Joey Peterson</div>
                                    <div class="trv-post-title ">
                                        <h3 class="post-title"><a href="{% url 'blogs' %}">The Top Travel Destinations for Photography Enthusiasts</a></h3>
                                    </div>
                                </div>                                
                            </div>

                            

                        </div>

                    </div>
                        
                </div> 

            </div>
        </div>
        <!--ALL BLOGS SECTION END-->


    </div>
    <!-- CONTENT END -->
{% endblock %}
