{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper bg-center">
            <div class="overlay-main innr-bnr-olay"></div>
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="wt-title">{{ blog.title }}</h2>
                    </div>
                    <!-- BREADCRUMB ROW -->                            
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>{{ blog.title }}</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->                        
            </div>
            {% comment %} <div class="trv-inr-bnr-cloud">            
                <div class="marquee">
                    <img src="{% static 'assets/images/inr-banner-cloud.png' %}" alt="Image">
                </div>
            </div>
            <div class="trv-inr-bnr-plane">
                <div class="trv-inr-bnr-plane-bx"><img src="{% static 'assets/images/airplane.png' %}" alt="Image"></div>
                
            </div> {% endcomment %}
            <div class="trv-inr-bnr-bloon-1"><img src="{% static 'assets/images/hotballon-Left.png' %}" alt="Image"></div>
            <div class="trv-inr-bnr-bloon-2"><img src="{% static 'assets/images/hotballon-right.png' %}" alt="Image"></div>
        </div>
        <!-- INNER PAGE BANNER END -->

        <!-- SECTION START -->
        <div class="section-full  p-t120 p-b90">
            <div class="container">
            
                <!-- BLOG SECTION START -->
                <div class="section-content">
                    <div class="row d-flex justify-content-center">
                    
                        <div class="col-xl-8 col-lg-8 col-md-12 m-b30">
                            <div class="trv-detail-main-wrap">
                                <!--Top Image-->
                                <div class="trv-detail-media">
                                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                </div>
                                <!--Info Image-->
                                <div class="trv-detail-bx-wrap">
                                    <ul class="trv-post-meta">
    <li class="post-comment">{{ blog.created_at|date:"d M Y" }}</li>
</ul>

<!-- Normal text content -->
<div class="trv-inr-para">
{% if plain_paragraphs %}
<h3 class="trv-inner-title-lg">{{ blog.title }}</h3>
<div class="trv-inr-para">
    {% for paragraph in plain_paragraphs %}
        <p>{{ paragraph }}</p>
    {% endfor %}
</div>
{% endif %}

<!-- Only show if blog has bullet/numbered lists -->
{% if has_real_lists and list_items %}
<h4 class="trv-inner-title-sm">{%if plain_paragraphs %}Key Highlights:{% else %}{{ blog.title }}{% endif %}</h4>
<ul class="trv-checklist-st1">
    {% for item in list_items %}
    <li>
        <i class="bi bi-check-circle-fill"></i>
        {{ item }}
    </li>
    {% endfor %}
</ul>
{% endif %}

                                    <div class="s-post-tag-share">

                                        <div class="s-post-share">
                                            <ul class="social-icons">
                                                <li><a href="https://www.x.com"><i class="bi bi-twitter-x"></i></a></li>
                                                <li><a href="https://www.facebook.com "><i class="bi bi-facebook"></i></a></li>
                                                <li><a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a></li>
                                                <li><a href="https://www.pinterest.com/"><i class="bi bi-pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="post-navigation">
                                        <div class="post-nav-links">
                                            <div class="post-nav-item nav-post-prev">
                                                {% if prev_blog %}
            <div class="nav-post-meta">
                <a href="{% url 'blog_detail' slug=prev_blog.slug %}">
                    <p>{{ prev_blog.title }}</p>
                    <b><i class="bi bi-chevron-left"></i> Previous Post</b>
                </a>
            </div>
            {% endif %}
                                            </div>
                                            <div class="post-nav-item nav-post-next">
                                                {% if next_blog %}
            <div class="nav-post-meta">
                <a href="{% url 'blog_detail' slug=next_blog.slug %}">
                    <p>{{ next_blog.title }}</p>
                    <b>Next Post <i class="bi bi-chevron-right"></i></b>
                </a>
            </div>
            {% endif %}
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div> 
                        </div> 
                        
                        <!-- SIDE BAR START -->
                        {% comment %} <div class="col-xl-4 col-lg-4 col-md-12 rightSidebar  m-b30">
                        
                            <aside  class="side-bar">



                                <!-- RECENT POSTS -->
                                <div class="widget trv-recent-posts">
                                    <div class="m-b20"><h4 class="widget-title">Recent Posts</h4></div>
                                    <div class="trv-recent-posts-bx">
                                        {% for recent in recent_blogs %}
                                        <div class="trv-rc-po-st1">
                                            <div class="post-date"><span>{{ recent.created_at|date:"d" }}</span>{{ recent.created_at|date:"M" }}</div>
                                            <div class="trv-post-info">
                                                <div class="trv-post-title">
                                                    <h5 class="post-title"><a href="{% url 'blog_detail' recent.slug %}">{{ recent.title }}</a></h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>





                                <!-- GALLERY -->
                                <div class="widget widget_gallery">
                                    <div class="m-b20">
                                        <h4 class="widget-title">Gallery</h4>
                                    </div>
                                    <div class="tw-sidebar-gallery">
                                        <ul>
                                            {% for img in gallery_images %}
                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a href="{% url 'gallery' %}" title="{{ img.title|default:'Gallery Image' }}">
                                                        <img src="{{ img.image.url }}" alt="" style="object-fit: cover; aspect-ratio: 1 / 1; width: 100%; height: 100%;">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div> 
                                </div> 

                                

                            </aside>

                        </div> {% endcomment %}
                        <!-- SIDE BAR END -->                          
                                                    
                    </div>

                </div>
                
            </div>
            
        </div>   
        <!-- SECTION END --> 


    </div>
    <!-- CONTENT END -->
{% endblock %}
