{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper bg-center">
            <div class="overlay-main innr-bnr-olay"></div>
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="wt-title">Blog Detail</h2>
                    </div>
                    <!-- BREADCRUMB ROW -->                            
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Blog Detail</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->                        
            </div>
            <div class="trv-inr-bnr-cloud">            
                <div class="marquee">
                    <img src="{% static 'assets/images/inr-banner-cloud.png' %}" alt="Image">
                </div>
            </div>
            <div class="trv-inr-bnr-plane">
                <div class="trv-inr-bnr-plane-bx"><img src="{% static 'assets/images/airplane.png' %}" alt="Image"></div>
                
            </div>
            <div class="trv-inr-bnr-bloon-1"><img src="{% static 'assets/images/hotballon-Left.png' %}" alt="Image"></div>
            <div class="trv-inr-bnr-bloon-2"><img src="{% static 'assets/images/hotballon-right.png' %}" alt="Image"></div>
        </div>
        <!-- INNER PAGE BANNER END -->

        <!-- SECTION START -->
        <div class="section-full  p-t120 p-b90">
            <div class="container">
            
                <!-- BLOG SECTION START -->
                <div class="section-content">
                    <div class="row d-flex justify-content-center">
                    
                        <div class="col-xl-8 col-lg-8 col-md-12 m-b30">
                            <div class="trv-detail-main-wrap">
                                <!--Top Image-->
                                <div class="trv-detail-media">
                                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                </div>
                                <!--Info Image-->
                                <div class="trv-detail-bx-wrap">
                                    <ul class="trv-post-meta">
                                        <li class="post-comment">{{ blog.created_at|date:"d M Y" }}</li>
                                    </ul>
                                    <h3 class="trv-inner-title-lg">{{ blog.title }}</h3>
                                    <div class="trv-inr-para">
                                        {{ blog.description|linebreaks }}
                                    </div>

                                    <h4 class="trv-inner-title-sm">What precautions should we take while travelling?</h4>
                                    <ul class="trv-checklist-st1">
                                        <li>
                                            <i class="bi bi-check-circle-fill"></i>
                                            Stay aware of local laws and customs
                                        </li>
                                        <li>
                                            <i class="bi bi-check-circle-fill"></i>
                                            Keep copies of important documents
                                        </li>
                                        <li>
                                            <i class="bi bi-check-circle-fill"></i>
                                            Stay hydrated and eat wisely
                                        </li>
                                        <li>
                                            <i class="bi bi-check-circle-fill"></i>
                                            Download offline maps and translation apps
                                        </li>
                                    </ul>

                                    <div class="s-post-tag-share">
                                        <div class="s-post-tags">
                                            <h3 class="twm-title">Tags</h3>
                                            <div class="tagcloud">
                                                <a href="services.html">Food</a>
                                                <a href="services.html">Tour </a>
                                                <a href="services.html">Pool</a>
                                            </div>
                                        </div>
                                    
                                        <div class="s-post-share">
                                            <ul class="social-icons">
                                                <li><a href="https://www.x.com"><i class="bi bi-twitter-x"></i></a></li>
                                                <li><a href="https://www.facebook.com "><i class="bi bi-facebook"></i></a></li>
                                                <li><a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a></li>
                                                <li><a href="https://www.pinterest.com/"><i class="bi bi-pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="post-navigation">
                                        <div class="post-nav-links">
                                            <div class="post-nav-item nav-post-prev">
                                                <div class="nav-post-meta"> 
                                                    <a href="blog-list.html">
                                                        <p>Destination can be exciting but also a bit over whelming with so many amazing places out.</p>
                                                        <b><i class="bi bi-chevron-left"></i> Previous Post</b>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-nav-item nav-post-next">
                                                <div class="nav-post-meta"> 
                                                    <a href="blog-list.html">
                                                        <p>Destination can be exciting but also a bit over whelming with so many amazing places out.</p>
                                                        <b>Next Post <i class="bi bi-chevron-right"></i></b> 
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="twm-post-com-wrap">
                                        <div class="clear" id="comment-list">
                                            <div class="comments-area" id="comments">
                                                <h3 class="comments-title m-t0">Customer Review</h3>
                                                
                                                <div>
                                                    <!-- COMMENT LIST START -->
                                                    <ol class="comment-list">
                                                        <li class="comment">
                                                            <!-- COMMENT BLOCK -->
                                                            <div class="comment-body">
                                                                <div class="comment-author">
                                                                    <img class="avatar photo" src="{% static 'assets/images/comment-author/pic1.jpg' %}" alt="">
                                                                </div>                                                
                                                                <div class="comment-meta">
                                                                    <cite class="fn">Charlie</cite>
                                                                    <span>24-07-2026</span>
                                                                </div>                                        
                                                                <p>Exciting but also a bit overwhelming with so many amazing places out there! Let's narrow it Travlla is a multi-award-winning strategy and content creation agency that specializes in travel arketing.</p>
                                                                <div class="reply">
                                                                    <a href="javscript:;" class="comment-reply-link site-button butn-bg-shape">
                                                                        Reply
                                                                    </a>
                                                                </div>

                                                            </div>
                                                            <!-- SUB COMMENT BLOCK -->
                                                            <ol class="children">
                                                                <li class="comment odd parent">
                                                                
                                                                    <div class="comment-body">
                                                                        <div class="comment-author">
                                                                            <img class="avatar photo" src="{% static 'assets/images/comment-author/pic2.jpg' %}" alt="">
                                                                        
                                                                        </div>                                                        
                                                                        <div class="comment-meta">
                                                                            <cite class="fn">George</cite>
                                                                            <span>24-07-2026</span>
                                                                        </div>                                                
                                                                        <p>So many amazing places out there! Let's narrow it Travlla is a multi-award-winning strategy and content creation agency that specializes in travel arketing.</p>
                                                                        <div class="reply">
                                                                            <a href="javscript:;" class="comment-reply-link site-button butn-bg-shape">
                                                                                Reply
                                                                            </a>
                                                                        </div>
                                                                    </div>                                                        
                                                                    
                                                                </li>
                                                            </ol>
                                                        </li>
                                                                                                    
                                                    </ol>
                                                    <!-- COMMENT LIST END -->
                                                    
                                                    <!-- LEAVE A REPLY START -->
                                                    <div class="comment-respond trv-form" id="respond">
                        
                                                        <!-- TITLE START-->
                                                        <div class="section-head trv-head-title-wrap left-position">
                                                            <h2 class="trv-head-title"><span class="site-text-yellow">Comment</span> Section</h2>
                                                            <div class="trv-head-discription">We’love to hear from you. Our friendly team is always here to chat</div>
                                                        </div>
                                                        <!-- TITLE END-->
                        
                                                        <form class="trv-cons-contact-form" method="post" action="phpmailer/mail.php">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="Enter Your Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="Enter Email Address">
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="Select Your Subject">
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea  class="form-control" placeholder="Message"></textarea>
                                                            </div>
                                                            <button type="button" class="site-button butn-bg-shape">Send Message</button>
                                                        </form>
                                                        
                        
                                                    </div>
                                                    <!-- LEAVE A REPLY END -->
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div> 
                        </div> 
                        
                        <!-- SIDE BAR START -->
                        <div class="col-xl-4 col-lg-4 col-md-12 rightSidebar  m-b30">
                        
                            <aside  class="side-bar">



                                <!-- RECENT POSTS -->
                                <div class="widget trv-recent-posts">
                                    <div class="m-b20"><h4 class="widget-title">Recent Posts</h4></div>
                                    <div class="trv-recent-posts-bx">
                                        {% for recent in recent_blogs %}
                                        <div class="trv-rc-po-st1">
                                            <div class="post-date"><span>{{ recent.created_at|date:"d" }}</span>{{ recent.created_at|date:"M" }}</div>
                                            <div class="trv-post-info">
                                                <div class="trv-post-title">
                                                    <h5 class="post-title"><a href="{% url 'blog_detail' recent.slug %}">{{ recent.title }}</a></h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>





                                <!-- GALLERY -->
                                <div class="widget widget_gallery">
                                    <div class="m-b20">
                                        <h4 class="widget-title">Gallery</h4>
                                    </div>
                                    <div class="tw-sidebar-gallery">
                                        <ul>

                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic1.jpg' %}" title="Title 1" data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic1.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic1.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic2.jpg' %}" title="Title 2" data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic2.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic2.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb ">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic3.jpg' %}" title="Title 3"  data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic3.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic3.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic4.jpg' %}" title="Title 4"  data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic4.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic4.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic5.jpg' %}" title="Title 5"  data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic5.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic5.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="tw-service-gallery-thumb">
                                                    <a class="elem" href="{% static 'assets/images/trv-gallery/pic6.jpg' %}" title="Title 6"  data-lcl-author="" data-lcl-thumb="images/trv-gallery/pic6.jpg">
                                                        <img src="{% static 'assets/images/trv-gallery/pic6.jpg' %}" alt="">
                                                        <i class="fa fa-file-image"></i>     
                                                    </a>
                                                </div>
                                            </li>
                                            
                                        </ul>
                                    </div> 
                                </div> 

                                

                            </aside>

                        </div>
                        <!-- SIDE BAR END -->                          
                                                    
                    </div>

                </div>
                
            </div>
            
        </div>   
        <!-- SECTION END --> 


    </div>
    <!-- CONTENT END -->
{% endblock %}
