{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper bg-center">
            <div class="overlay-main innr-bnr-olay"></div>
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="wt-title">Our Destinations</h2>
                    </div>
                    <!-- BREADCRUMB ROW -->                            
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Destinations</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->                        
            </div>
            <div class="trv-inr-bnr-cloud">            
                <div class="marquee">
                    <img src="{% static 'assets/images/inr-banner-cloud.png' %}" alt="Image">
                </div>
            </div>
            <div class="trv-inr-bnr-plane">
                <div class="trv-inr-bnr-plane-bx"><img src="{% static 'assets/images/airplane.png' %}" alt="Image"></div>
                
            </div>
            <div class="trv-inr-bnr-bloon-1"><img src="{% static 'assets/images/hotballon-Left.png' %}" alt="Image"></div>
            <div class="trv-inr-bnr-bloon-2"><img src="{% static 'assets/images/hotballon-right.png' %}" alt="Image"></div>
        </div>
        <!-- INNER PAGE BANNER END -->
        
        <!--POPULAR DESTINATION SECTION START-->
        <div class="section-full p-t120 p-b90 trv-popular-destination">
            <div class="container">

                <div class="section-content">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 m-b30">
                            <div class="trv-destination-bx1">
                                <div class="trv-media">
                                    <a href="destination-detail.html"><img src="{% static 'assets/images/destinations/style1/pic1.jpg' %}" alt="Image"></a>
                                </div>
                                <div class="trv-content">
                                    <h3 class="trv-title"><a href="destination-detail.html">Paris</a></h3>
                                </div>
                                <div class="trv-on-hover">
                                    <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 m-b30">
                            <div class="trv-destination-bx1">
                                <div class="trv-media">
                                    <a href="destination-detail.html"><img src="{% static 'assets/images/destinations/style1/pic2.jpg' %}" alt="Image"></a>
                                </div>
                                <div class="trv-content">
                                    <h3 class="trv-title"><a href="destination-detail.html">Maldives</a></h3>
                                </div>
                                <div class="trv-on-hover">
                                    <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 m-b30">
                            <div class="trv-destination-bx1">
                                <div class="trv-media">
                                    <a href="destination-detail.html"><img src="{% static 'assets/images/destinations/style1/pic3.jpg' %}" alt="Image"></a>
                                </div>
                                <div class="trv-content">
                                    <h3 class="trv-title"><a href="destination-detail.html">Hong Kong</a></h3>
                                </div>
                                <div class="trv-on-hover">
                                    <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 m-b30">
                            <div class="trv-destination-bx1">
                                <div class="trv-media">
                                    <a href="destination-detail.html"><img src="{% static 'assets/images/destinations/style1/pic4.jpg' %}" alt="Image"></a>
                                </div>
                                <div class="trv-content">
                                    <h3 class="trv-title"><a href="destination-detail.html">Thailand</a></h3>
                                </div>
                                <div class="trv-on-hover">
                                    <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 m-b30">
                            <div class="trv-destination-bx1">
                                <div class="trv-media">
                                    <a href="destination-detail.html"><img src="{% static 'assets/images/destinations/style1/pic5.jpg' %}" alt="Image"></a>
                                </div>
                                <div class="trv-content">
                                    <h3 class="trv-title"><a href="destination-detail.html">Bangkok</a></h3>
                                </div>
                                <div class="trv-on-hover">
                                    <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 m-b30">
                            <div class="trv-destination-bx1">
                                <div class="trv-media">
                                    <a href="destination-detail.html"><img src="{% static 'assets/images/destinations/style1/pic6.jpg' %}" alt="Image"></a>
                                </div>
                                <div class="trv-content">
                                    <h3 class="trv-title"><a href="destination-detail.html">Tokyo</a></h3>
                                </div>
                                <div class="trv-on-hover">
                                    <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 m-b30">
                            <div class="trv-destination-bx1">
                                <div class="trv-media">
                                    <a href="destination-detail.html"><img src="{% static 'assets/images/destinations/style1/pic7.jpg' %}" alt="Image"></a>
                                </div>
                                <div class="trv-content">
                                    <h3 class="trv-title"><a href="destination-detail.html">Spain</a></h3>
                                </div>
                                <div class="trv-on-hover">
                                    <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 m-b30">
                            <div class="trv-destination-bx1">
                                <div class="trv-media">
                                    <a href="destination-detail.html"><img src="{% static 'assets/images/destinations/style1/pic8.jpg' %}" alt="Image"></a>
                                </div>
                                <div class="trv-content">
                                    <h3 class="trv-title"><a href="destination-detail.html">California</a></h3>
                                </div>
                                <div class="trv-on-hover">
                                    <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                </div>
                            </div>
                        </div>

                    </div>
                    <ul class="custom-pagination clearfix">
                        <li class="prev"><a href="#0"><span class="bi bi-chevron-left"></span></a></li>
                        <li><a href="#0">1</a></li>
                        <li><a href="#0">2</a></li>
                        <li><a href="#0">3</a></li>
                        <li><a href="#0">...</a></li>
                        <li class="next"><a href="#0"><span class="bi bi-chevron-right"></span></a></li>
                    </ul>
                </div> 

            </div>
        
        </div>
        <!--POPULAR DESTINATION SECTION END-->

        <!-- CLIENT LOGO SECTION START -->
        <div class="section-full trv-client-section">
            <div class="trv-client-row">
                <div class="container">
                    <div class="section-content">
                        <div class="trv-client-carousel">
                            <div class="row">
                                <div class="col-xl-3 col-lg-12 col-md-12">
                                    <div class="trv-client-titlesection">
                                        <h2 class="trv-head-title"><span class="site-text-yellow">1K+ </span>Brands Trust Us</h2>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-12 col-md-12">
                                    <div class="owl-carousel home-client-carousel">
                                    

                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/1.png' %}" alt=""></a></div>
                                                </div>
                                            </div>
                                        
                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/2.png' %}" alt=""></a></div>
                                                </div>
                                            </div>
                                            
                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/3.png' %}" alt=""></a></div>
                                                </div>
                                            </div>
                                        
                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/4.png' %}" alt=""></a></div>
                                                </div>
                                            </div>
                                            
                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/5.png' %}" alt=""></a></div>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/1.png' %}" alt=""></a></div>
                                                </div>
                                            </div>
                                        
                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/2.png' %}" alt=""></a></div>
                                                </div>
                                            </div>
                                            
                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/3.png' %}" alt=""></a></div>
                                                </div>
                                            </div>
                                        
                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/4.png' %}" alt=""></a></div>
                                                </div>
                                            </div>
                                            
                                            <div class="item">
                                                <div class="ow-client-logo">
                                                    <div class="client-logo client-logo-media">
                                                    <a href="{% url 'about' %}"><img src="{% static 'assets/images/client-logo/dark/5.png' %}" alt=""></a></div>
                                                </div>
                                            </div>
                                            
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CLIENT LOGO  SECTION End -->

        <!--EXPLORE POPULAR TOUR START-->
        <div class="section-full trv-popular-tours2 p-t120">
            <div class="container-fluid">
                <!-- TITLE START-->
                <div class="section-head trv-head-title-wrap center-position">
                    <h2 class="trv-head-title">Explore Popular <span class="site-text-yellow">Tours!</span></h2>
                    <div class="trv-head-discription">Destinations worth exploring! Here are a few popular spots</div>
                    <div class="trv-head-title-image">
                        <img src="{% static 'assets/images/background/Title-Separator.png' %}" alt="Image">
                    </div>
                </div>
                <!-- TITLE END-->

                <div class="section-content">

                    <div class="swiper trv-popular-tours-row trv-tours-st2-carousal swiper-nav-center-bottom">
                        <div class="swiper-wrapper">
                            <!--BOX-1-->
                            <div class="swiper-slide">
                                <div class="trv-popular-tour-st2">
                                    <div class="trv-media">
                                        <a href="package-detail.html"><img src="{% static 'assets/images/tour/style1/pic1.jpg' %}" alt="Image"></a>
                                        <div class="trv-tour-title">
                                            <h3 class="trv-title">
                                                <a href="package-detail.html">
                                                    <i class="bi bi-geo-alt"></i>
                                                    Bali, Indonesia
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="trv-content">
                                        <div class="trv-content-head-section">
                                            <div class="trv-tour-duration">
                                                <i class="bi bi-calendar2-week"></i>
                                                <span>8 days , 3 Nights</span>
                                            </div>
                                            <div class="trv-tour-price">
                                                <span class="price">$59</span>
                                                <span class="price-duration">Per Day</span>
                                            </div>
                                        </div>
                                        <div class="trv-content-bottom-section">
                                            <div class="trv-tour-title2">
                                                <h3 class="trv-title2">
                                                    <a href="package-detail.html">
                                                        <i class="bi bi-geo-alt"></i>
                                                        Bali, Indonesia
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="trv-content-bottom-column">
                                                <div class="trv-book">
                                                    <a href="package-detail.html" class="site-button outline white-txt">Book Now</a>
                                                </div>
                                                <div class="trv-tour-rating">
                                                    <span class="trv-tour-review-count">(4.8 Review)</span>
                                                    <div class="trv-review-rating">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <!--BOX-2-->
                            <div class="swiper-slide">
                                <div class="trv-popular-tour-st2">
                                    <div class="trv-media">
                                        <a href="package-detail.html"><img src="{% static 'assets/images/tour/style1/pic2.jpg' %}" alt="Image"></a>
                                        <div class="trv-tour-title">
                                            <h3 class="trv-title">
                                                <a href="package-detail.html">
                                                    <i class="bi bi-geo-alt"></i>
                                                    South Korea
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="trv-content">
                                        <div class="trv-content-head-section">
                                            <div class="trv-tour-duration">
                                                <i class="bi bi-calendar2-week"></i>
                                                <span>8 days , 3 Nights</span>
                                            </div>
                                            <div class="trv-tour-price">
                                                <span class="price">$59</span>
                                                <span class="price-duration">Per Day</span>
                                            </div>
                                        </div>
                                        <div class="trv-content-bottom-section">
                                            <div class="trv-tour-title2">
                                                <h3 class="trv-title2">
                                                    <a href="package-detail.html">
                                                        <i class="bi bi-geo-alt"></i>
                                                    South Korea
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="trv-content-bottom-column">
                                                <div class="trv-book">
                                                    <a href="package-detail.html" class="site-button outline white-txt">Book Now</a>
                                                </div>
                                                <div class="trv-tour-rating">
                                                    <span class="trv-tour-review-count">(4.8 Review)</span>
                                                    <div class="trv-review-rating">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <!--BOX-3-->
                            <div class="swiper-slide">
                                <div class="trv-popular-tour-st2">
                                    <div class="trv-media">
                                        <a href="package-detail.html"><img src="{% static 'assets/images/tour/style1/pic1.jpg' %}" alt="Image"></a>
                                        <div class="trv-tour-title">
                                            <h3 class="trv-title">
                                                <a href="package-detail.html">
                                                    <i class="bi bi-geo-alt"></i>
                                                Tokyo City Japan
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="trv-content">
                                        <div class="trv-content-head-section">
                                            <div class="trv-tour-duration">
                                                <i class="bi bi-calendar2-week"></i>
                                                <span>8 days , 3 Nights</span>
                                            </div>
                                            <div class="trv-tour-price">
                                                <span class="price">$59</span>
                                                <span class="price-duration">Per Day</span>
                                            </div>
                                        </div>
                                        <div class="trv-content-bottom-section">
                                            <div class="trv-tour-title2">
                                                <h3 class="trv-title2">
                                                    <a href="package-detail.html">
                                                        <i class="bi bi-geo-alt"></i>
                                                        Tokyo City Japan
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="trv-content-bottom-column">
                                                <div class="trv-book">
                                                    <a href="package-detail.html" class="site-button outline white-txt">Book Now</a>
                                                </div>
                                                <div class="trv-tour-rating">
                                                    <span class="trv-tour-review-count">(4.8 Review)</span>
                                                    <div class="trv-review-rating">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <!--BOX-4-->
                            <div class="swiper-slide">
                                <div class="trv-popular-tour-st2">
                                    <div class="trv-media">
                                        <a href="package-detail.html"><img src="{% static 'assets/images/tour/style1/pic4.jpg' %}" alt="Image"></a>
                                        <div class="trv-tour-title">
                                            <h3 class="trv-title">
                                                <a href="package-detail.html">
                                                    <i class="bi bi-geo-alt"></i>
                                                    Plateau in Slovenia
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="trv-content">
                                        <div class="trv-content-head-section">
                                            <div class="trv-tour-duration">
                                                <i class="bi bi-calendar2-week"></i>
                                                <span>8 days , 3 Nights</span>
                                            </div>
                                            <div class="trv-tour-price">
                                                <span class="price">$59</span>
                                                <span class="price-duration">Per Day</span>
                                            </div>
                                        </div>
                                        <div class="trv-content-bottom-section">
                                            <div class="trv-tour-title2">
                                                <h3 class="trv-title2">
                                                    <a href="package-detail.html">
                                                        <i class="bi bi-geo-alt"></i>
                                                        Plateau in Slovenia
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="trv-content-bottom-column">
                                                <div class="trv-book">
                                                    <a href="package-detail.html" class="site-button outline white-txt">Book Now</a>
                                                </div>
                                                <div class="trv-tour-rating">
                                                    <span class="trv-tour-review-count">(4.8 Review)</span>
                                                    <div class="trv-review-rating">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <!--BOX-5-->
                            <div class="swiper-slide">
                                <div class="trv-popular-tour-st2">
                                    <div class="trv-media">
                                        <a href="package-detail.html"><img src="{% static 'assets/images/tour/style1/pic5.jpg' %}" alt="Image"></a>
                                        <div class="trv-tour-title">
                                            <h3 class="trv-title">
                                                <a href="package-detail.html">
                                                    <i class="bi bi-geo-alt"></i>
                                                    Bali, Indonesia
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="trv-content">
                                        <div class="trv-content-head-section">
                                            <div class="trv-tour-duration">
                                                <i class="bi bi-calendar2-week"></i>
                                                <span>8 days , 3 Nights</span>
                                            </div>
                                            <div class="trv-tour-price">
                                                <span class="price">$59</span>
                                                <span class="price-duration">Per Day</span>
                                            </div>
                                        </div>
                                        <div class="trv-content-bottom-section">
                                            <div class="trv-tour-title2">
                                                <h3 class="trv-title2">
                                                    <a href="package-detail.html">
                                                        <i class="bi bi-geo-alt"></i>
                                                        Bali, Indonesia
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="trv-content-bottom-column">
                                                <div class="trv-book">
                                                    <a href="package-detail.html" class="site-button outline white-txt">Book Now</a>
                                                </div>
                                                <div class="trv-tour-rating">
                                                    <span class="trv-tour-review-count">(4.8 Review)</span>
                                                    <div class="trv-review-rating">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <!--BOX-6-->
                            <div class="swiper-slide">
                                <div class="trv-popular-tour-st2">
                                    <div class="trv-media">
                                        <a href="package-detail.html"><img src="{% static 'assets/images/tour/style1/pic6.jpg' %}" alt="Image"></a>
                                        <div class="trv-tour-title">
                                            <h3 class="trv-title">
                                                <a href="package-detail.html">
                                                    <i class="bi bi-geo-alt"></i>
                                                    Bali, Indonesia
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="trv-content">
                                        <div class="trv-content-head-section">
                                            <div class="trv-tour-duration">
                                                <i class="bi bi-calendar2-week"></i>
                                                <span>8 days , 3 Nights</span>
                                            </div>
                                            <div class="trv-tour-price">
                                                <span class="price">$59</span>
                                                <span class="price-duration">Per Day</span>
                                            </div>
                                        </div>
                                        <div class="trv-content-bottom-section">
                                            <div class="trv-tour-title2">
                                                <h3 class="trv-title2">
                                                    <a href="package-detail.html">
                                                        <i class="bi bi-geo-alt"></i>
                                                        Bali, Indonesia
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="trv-content-bottom-column">
                                                <div class="trv-book">
                                                    <a href="package-detail.html" class="site-button outline white-txt">Book Now</a>
                                                </div>
                                                <div class="trv-tour-rating">
                                                    <span class="trv-tour-review-count">(4.8 Review)</span>
                                                    <div class="trv-review-rating">
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    
                </div> 

            </div>
        </div>
        <!--EXPLORE POPULAR TOUR END-->


    </div>
    <!-- CONTENT END -->
{% endblock %}
