{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">

        <!-- INNER PAGE BANNER -->
        <div class="wt-bnr-inr overlay-wraper bg-center">
            <div class="overlay-main innr-bnr-olay"></div>
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="wt-title">Our Destinations</h2>
                    </div>
                    <!-- BREADCRUMB ROW -->                            
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Destinations</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->                        
            </div>
            <div class="trv-inr-bnr-bloon-1"><img src="{% static 'assets/images/hotballon-Left.png' %}" alt="Image"></div>
            <div class="trv-inr-bnr-bloon-2"><img src="{% static 'assets/images/hotballon-right.png' %}" alt="Image"></div>
        </div>
        <!-- INNER PAGE BANNER END -->
        
        <!--POPULAR DESTINATION SECTION START-->
        <div class="section-full p-t120 p-b50 trv-popular-destination">
            <div class="container">

                <div class="section-content">
                    <div class="row">
                        {% for destination in destinations %}
                        <div class="col-xl-3 col-lg-4 col-md-6 m-b30">
                            <div class="trv-destination-bx1">
                                <div class="trv-media">
                                    <a href="{% url 'destination_detail' destination.slug %}">
                                        <img src="{{ destination.image.url }}" alt="{{ destination.name }}">
                                    </a>
                                </div>
                                <div class="trv-content">
                                    <h3 class="trv-title"><a href="{% url 'destination_detail' destination.slug %}">{{ destination.name }}</a></h3>
                                </div>
                                <div class="trv-on-hover">
                                    <img src="{% static 'assets/images/destinations/hotballon-right.png' %}" alt="image">
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-muted">No destinations yet.</p>
                        {% endfor %}
                    </div>
                    {% if destinations.has_other_pages %}
                    <ul class="custom-pagination clearfix">
                        {% if destinations.has_previous %}
                        <li class="prev"><a href="?page={{ destinations.previous_page_number }}"><span class="bi bi-chevron-left"></span></a></li>
                        {% endif %}
                        {% for num in destinations.paginator.page_range %}
                        <li {% if destinations.number == num %}class="active"{% endif %}><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endfor %}
                        {% if destinations.has_next %}
                        <li class="next"><a href="?page={{ destinations.next_page_number }}"><span class="bi bi-chevron-right"></span></a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div> 

            </div>
        
        </div>
        <!--POPULAR DESTINATION SECTION END-->


        <!--EXPLORE POPULAR TOUR START-->
        <div class="section-full trv-popular-tours2 p-t50">
            <div class="container-fluid">
                <!-- TITLE START-->
                <div class="section-head trv-head-title-wrap center-position">
                    <h2 class="trv-head-title">Explore Popular <span class="site-text-yellow">Tours!</span></h2>
                    <div class="trv-head-discription">Destinations worth exploring! Here are a few popular spots</div>
                    <div class="trv-head-title-image">
                        <img src="{% static 'assets/images/background/Title-Separator.png' %}" alt="Image">
                    </div>
                </div>
                <!-- TITLE END-->

                <div class="section-content">

                    <div class="swiper trv-popular-tours-row trv-tours-st2-carousal swiper-nav-center-bottom">
                        <div class="swiper-wrapper">
                            {% for package in packages %}
                            <div class="swiper-slide">
                                <div class="trv-popular-tour-st2">
                                    <div class="trv-media">
                                        <a href="{% url 'package_detail' package.slug %}">
                                            <img src="{{ package.main_image.url }}" alt="{{ package.name }}">
                                        </a>
                                        <div class="trv-tour-title">
                                            <h3 class="trv-title">
                                                <a href="{% url 'package_detail' package.slug %}">
                                                    <i class="bi bi-geo-alt"></i> {{ package.name }}
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="trv-content">
                                        <div class="trv-content-head-section">
                                            <div class="trv-tour-duration">
                                                <i class="bi bi-calendar2-week"></i>
                                                <span>{{ package.duration }}</span>
                                            </div>
                                            <div class="trv-tour-price">
                                                <span class="price">₹{{ package.price_from }}</span>
                                            </div>
                                        </div>
                                        <div class="trv-content-bottom-section">
                                            <div class="trv-tour-title2">
                                                <h3 class="trv-title2">
                                                    <a href="{% url 'package_detail' package.slug %}">
                                                        <i class="bi bi-geo-alt"></i> {{ package.name }}
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="trv-content-bottom-column">
                                                <div class="trv-book">
                                                    <button class="site-button outline white-txt" onclick="openBookingModal('{{ package.name }}')"
                                                             data-bs-toggle="modal" data-bs-target="#bookingModal">
                                                              Enquire
                                                    </button> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                    
                </div> 

            </div>
        </div>
        <!--EXPLORE POPULAR TOUR END-->


    </div>
    <!-- CONTENT END -->
{% endblock %}
