{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<style>
		table, td, th {
			border: 1px solid black;
		}
		table {
			width: 100%;
			border-collapse: collapse;
		}
		.success{
			background-color: #cbeacb;
			color: #398c39;
			padding: 10px;
			margin-bottom: 18px;
			border: 1px solid transparent;
			border-radius: 3px;
		}
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".success").fadeOut(3000);
			if ($("#enableSI").val() == "true") {
				var merchantdetails = "{{ config_data.siDetailsAtMerchantEnd }}"
				console.log(merchantdetails);
				$("#worldline_admin_table").append('<tr id="merchantdetailsrow">\
						<th><label for="siDetailsAtMerchantEnd">Enable SI Details at Merchant End</label></th>\
						<td><select name="siDetailsAtMerchantEnd" id="siDetailsAtMerchantEnd" style="width:85%">\
						    <option value="true">Enabled</option>\
						    <option value="false">Disabled</option>\
						</select></td></tr>');
				$("#siDetailsAtMerchantEnd").val(merchantdetails);

				var amount = "{{ config_data.amountType }}"
				console.log(amount);
				$("#worldline_admin_table").append('<tr id="amount"> \
						<th scope="row"><label for="amountType">Amount Type</label></th>\
						<td><select id="amountType" name="amountType" style="width:85%" ><option value="M">Variable</option>\
									<option value="F">Fixed</option> \
						</select></td></tr>');
				$('#amountType').val(amount);

				var freq = "{{ config_data.frequency }}"
				console.log(freq);
				$("#worldline_admin_table").append('<tr id="freq"> \
						<th scope="row"><label for="frequency">Frequency</label></th>\
						<td><select id="frequency" name="frequency" style="width:85%"><option value="ADHO">As and when presented</option>\
									<option value="DAIL">Daily</option> \
									<option value="WEEK">Weekly</option> \
									<option value="MNTH">Monthly</option> \
									<option value="QURT">Quarterly</option> \
									<option value="MIAN">Semi Annually</option> \
									<option value="YEAR">Yearly</option> \
									<option value="BIMN">Bi-monthly</option> \
						</select></td></tr>');
				$('#frequency').val(freq);
			}

			$("#enableSI").change(function(){
				if ($("#enableSI").val()=="true") {
					$("#worldline_admin_table").append('<tr id="merchantdetailsrow">\
						<th><label for="siDetailsAtMerchantEnd">Enable SI Details at Merchant End</label></th>\
						<td><select name="siDetailsAtMerchantEnd" id="siDetailsAtMerchantEnd" style="width:85%">\
						    <option value="true">Enabled</option>\
						    <option value="false">Disabled</option>\
						</select></td></tr>');
					$("#worldline_admin_table").append('<tr id="amount"> \
							<th scope="row"><label for="amountType">Amount Type</label></th>\
							<td><select id="amountType" name="amountType" style="width:85%" ><option value="M" selected >Variable</option>\
										<option value="F">Fixed</option> \
							</select></td></tr>');
					$("#worldline_admin_table").append('<tr id="freq"> \
							<th scope="row"><label for="frequency">Frequency</label></th>\
							<td><select id="frequency" name="frequency" style="width:85%"><option value="ADHO" selected >As and when presented</option>\
									<option value="DAIL">Daily</option> \
									<option value="WEEK">Weekly</option> \
									<option value="MNTH">Monthly</option> \
									<option value="QURT">Quarterly</option> \
									<option value="MIAN">Semi Annually</option> \
									<option value="YEAR">Yearly</option> \
									<option value="BIMN">Bi-monthly</option> \
							</select></td></tr>');
				}
				else {
					$("#merchantdetailsrow").remove();
					$("#amount").remove();
					$("#freq").remove();
				}
			});
		});
	</script>
</head>

<body>
	{% for message in messages %}
        <div class="success">
        	{{ message }}
    	</div>
    {% endfor %}
	<form method="POST" action="">
		{% csrf_token %}
		<img src="{% static 'Worldline.png' %}" align="middle" width="30%" />
		<h2>Worldline Admin</h2>
		<table id="worldline_admin_table" cellpadding="10" cellspacing="10">
			<tr>
				<th>
					Description
				</th>
				<td>
					Worldline ePayment Services is India's leading digital payment solutions company. Being a company with more than 45 years of global payment experience, we are present in India for over 20 years and are powering over 550,000 businesses with our tailored payment solution.
				</td>
			</tr>

			<tr>
				<th>{{ form.merchantCode.label_tag }}</th>
				<td>{{ form.merchantCode }}</td>
			</tr>

			<tr>
				<th>{{ form.merchantSchemeCode.label_tag }}</th>
				<td>{{ form.merchantSchemeCode }}</td>
			</tr>

			<tr>
				<th>{{ form.SALT.label_tag }}</th>
				<td>{{ form.SALT }}</td>
			</tr>

			<tr>
				<th>{{ form.currency.label_tag }}</th>
				<td>
					{{ form.currency }}
					<br><br>
				</td>
			</tr>

			<tr>
				<th>{{ form.typeOfPayment.label_tag }}</th>
				<td>
					{{ form.typeOfPayment }}
					<br><br>
					For TEST mode amount will be charge 1
				</td>
			</tr>

			<tr>
				<th>{{ form.primaryColor.label_tag }}</th>
				<td>
					{{ form.primaryColor }}
					<br><br>
					Color value can be hex, rgb or actual color name
				</td>
			</tr>

			<tr>
				<th>{{ form.secondaryColor.label_tag }}</th>
				<td>
					{{ form.secondaryColor }}
					<br><br>
					Color value can be hex, rgb or actual color name
				</td>
			</tr>

			<tr>
				<th>{{ form.buttonColor1.label_tag }}</th>
				<td>
					{{ form.buttonColor1 }}
					<br><br>
					Color value can be hex, rgb or actual color name
				</td>
			</tr>

			<tr>
				<th>{{ form.buttonColor2.label_tag }}</th>
				<td>
					{{ form.buttonColor2 }}
					<br><br>
					Color value can be hex, rgb or actual color name
				</td>
			</tr>

			<tr>
				<th>{{ form.logoURL.label_tag }}</th>
				<td>
					{{ form.logoURL }}
					<br><br>
					An absolute URL pointing to a logo image of merchant which will show on checkout popup
				</td>
			</tr>

			<tr>
				<th>{{ form.enableExpressPay.label_tag }}</th>
				<td>
					{{ form.enableExpressPay }}
					<br><br>
					To enable saved payments set its value to yes
				</td>
			</tr>

			<tr>
				<th>{{ form.separateCardMode.label_tag }}</th>
				<td>
					{{ form.separateCardMode }}
					<br><br>
					If this feature is enabled checkout shows two separate payment mode(Credit Card and Debit Card)
				</td>
			</tr>

			<tr>
				<th>{{ form.enableNewWindowFlow.label_tag }}</th>
				<td>
					{{ form.enableNewWindowFlow }}
					<br><br>
					If this feature is enabled, then bank page will open in new window
				</td>
			</tr>

			<tr>
				<th>{{ form.merchantMessage.label_tag }}</th>
				<td>
					{{ form.merchantMessage }}
					<br><br>
					Customize message from merchant which will be shown to customer in checkout page
				</td>
			</tr>

			<tr>
				<th>{{ form.disclaimerMessage.label_tag }}</th>
				<td>
					{{ form.disclaimerMessage }}
					<br><br>
					Customize disclaimer message from merchant which will be shown to customer in checkout page
				</td>
			</tr>

			<tr>
				<th>{{ form.paymentMode.label_tag }}</th>
				<td>
					{{ form.paymentMode }}
					<br><br>
					If Bank selection is at Worldline ePayment Services end then select all, if bank selection at Merchant end then pass appropriate mode respective to selected option
				</td>
			</tr>

			<tr>
				<th>{{ form.paymentModeOrder.label_tag }}</th>
				<td>
					{{ form.paymentModeOrder }}
					<br><br>
					Please pass order in this format: cards,netBanking,imps,wallets,cashCards,UPI,MVISA,debitPin,NEFTRTGS,emiBanks.
					Merchant can define their payment mode order
				</td>
			</tr>

			<tr>
				<th>{{ form.enableInstrumentDeRegistration.label_tag }}</th>
				<td>
					{{ form.enableInstrumentDeRegistration }}
					<br><br>
					If this feature is enabled, you will have an option to delete saved cards
				</td>
			</tr>

			<tr>
				<th>{{ form.transactionType.label_tag }}</th>
				<td>{{ form.transactionType }}</td>
			</tr>

			<tr>
				<th>{{ form.hideSavedInstruments.label_tag }}</th>
				<td>
					{{ form.hideSavedInstruments }}
					<br><br>
					If enabled checkout hides saved payment options even in case of enableExpressPay is enabled
				</td>
			</tr>

			<tr>
				<th>{{ form.saveInstrument.label_tag }}</th>
				<td>
					{{ form.saveInstrument }}
					<br><br>
					Enable this feature to vault instrument
				</td>
			</tr>

			<tr>
				<th>{{ form.displayTransactionMessageOnPopup.label_tag }}</th>
				<td>{{ form.displayTransactionMessageOnPopup }}</td>
			</tr>

			<tr>
				<th>{{ form.embedPaymentGatewayOnPage.label_tag }}</th>
				<td>{{ form.embedPaymentGatewayOnPage }}</td>
			</tr>

			<tr>
				<th>{{ form.enableSI.label_tag }}</th>
				<td>
					{{ form.enableSI }}
					<br><br>
					Enable eMandate using this feature
				</td>
			</tr>

			<tr>
				<th>{{ form.hideSIDetails.label_tag }}</th>
				<td>
					{{ form.hideSIDetails }}
					<br><br>
					Enable this feature to hide SI details from the customer
				</td>
			</tr>

			<tr>
				<th>{{ form.hideSIConfirmation.label_tag }}</th>
				<td>
					{{ form.hideSIConfirmation }}
					<br><br>
					Enable this feature to hide the confirmation screen in eMandate/eNACH/eSign registration
				</td>
			</tr>

			<tr>
				<th>{{ form.expandSIDetails.label_tag }}</th>
				<td>
					{{ form.expandSIDetails }}
					<br><br>
					Enable this feature to show eMandate/eNACH/eSign details in expanded mode by default
				</td>
			</tr>

			<tr>
				<th>{{ form.enableDebitDay.label_tag }}</th>
				<td>
					{{ form.enableDebitDay }}
					<br><br>
					Enable this feature to acccept debit day value eMandate/eNACH/eSign registration
				</td>
			</tr>

			<tr>
				<th>{{ form.showSIResponseMsg.label_tag }}</th>
				<td>
					{{ form.showSIResponseMsg }}
					<br><br>
					Enable this feature to show eMandate/eNACH/eSign registrations details also in final checkout response
				</td>
			</tr>

			<tr>
				<th>{{ form.showSIConfirmation.label_tag }}</th>
				<td>
					{{ form.showSIConfirmation }}
					<br><br>
					Enable this feature to show confirmation screen for registration
				</td>
			</tr>

			<tr>
				<th>{{ form.enableTxnForNonSICards.label_tag }}</th>
				<td>
					{{ form.enableTxnForNonSICards }}
					<br><br>
					Enable this feature to proceed with a normal transaction with same card details
				</td>
			</tr>

			<tr>
				<th>{{ form.showAllModesWithSI.label_tag }}</th>
				<td>
					{{ form.showAllModesWithSI }}
					<br><br>
					Enable this feature to show all modes with SI
				</td>
			</tr>

		</table>
		<button type="submit">Save</button>
	</form>
</body>
</html>
