<!DOCTYPE html>
<html>

<head>
	<title>Refund Page</title>
	<style>
		table, td, th {
		 	border: 1px solid black;
		}

		table {
			border-collapse: collapse;
		}
	</style>
</head>

<body>

	<h1>Refund</h1>
	<form method="POST" action="">
		{% csrf_token %}
		{{ form.token.label_tag }}
		{{ form.token }}
		{{ form.amount.label_tag }}
		{{ form.amount }}
		{{ form.date.label_tag }}
		{{ form.date }}
		<button type="submit">Submit</button>
		<br><br>
		{% if response %}
			<table border="2" align="middle">
				<tr>
					<td>Status Code</td>
					<td>{{ response.paymentMethod.paymentTransaction.statusCode }}</td>
				</tr>
				<tr>
					<td>Merchant Transaction Reference No</td>
					<td>{{ response.merchantTransactionIdentifier }}</td>
				</tr>
				<tr>
					<td>TPSL Transaction ID</td>
					<td>{{ response.paymentMethod.paymentTransaction.identifier }}</td>
				</tr>
				<tr>
					<td>Amount</td>
					<td>{{ response.paymentMethod.paymentTransaction.amount }}</td>
				</tr>
				<tr>
					<td>Message</td>
					<td>{{ response.paymentMethod.paymentTransaction.errorMessage }}</td>
				</tr>
				<tr>
					<td>Status Message</td>
					<td>{{ response.paymentMethod.paymentTransaction.statusMessage }}</td>
				</tr>
				<tr>
					<td>Date Time</td>
					<td>{{ response.paymentMethod.paymentTransaction.dateTime }}</td>
				</tr>
			</table>
		{% endif %}
	</form>
</body>
</html>
