<!DOCTYPE html>
<html>

<head>
	<title>Stop Payment Page</title>
	<style>
		table, td, th {
		 	border: 1px solid black;
		}

		table {
			border-collapse: collapse;
		}
	</style>
</head>

<body>

	<h1>Stop Payment</h1>
	<form method="POST" action="">
		{% csrf_token %}
		{{ form.tpslTransactionId.label_tag }}
		{{ form.tpslTransactionId }}
		<button type="submit">Submit</button>
		<br><br>
		{% if response %}
			<table border="2" align="middle">
				<tr>
					<td>Status Code</td>
					<td>{{ response.paymentMethod.paymentTransaction.statusCode }}</td>
				</tr>
				<tr>
					<td>Merchant Transaction Reference No</td>
					<td>{{ response.merchantTransactionIdentifier }}</td>
				</tr>
				<tr>
					<td>Message</td>
					<td>{{ response.paymentMethod.error.desc }}</td>
				</tr>
			</table>
		{% endif %}
	</form>
</body>
</html>
