<!DOCTYPE html>
<html>

<head>
	<title>Transaction Verification Page</title>
	<style>
		table, td, th {
		 	border: 1px solid black;
		}

		table {
			border-collapse: collapse;
		}
	</style>
</head>

<body>

	<h1>Transaction Verification</h1>
	<form method="POST" action="">
		{% csrf_token %}
		<table>
			<tr>
				<td>{{ form.typeOfTransaction.label_tag }}</td>
				<td>{{ form.typeOfTransaction }}</td>
			</tr>
			<tr>
				<td>{{ form.merchantTxnId.label_tag }}</td>
				<td>{{ form.merchantTxnId }}</td>
			</tr>
			<tr>
				<td>{{ form.date.label_tag }}</td>
				<td>{{ form.date }}</td>
			</tr>
		</table>
		<button type="submit">Submit</button>
		<br><br>
		{% if response %}
			<table border="2" align="middle">
				<tr>
					<td>Status Code</td>
					<td>{{ response.paymentMethod.paymentTransaction.statusCode }}</td>
				</tr>
				<tr>
					<td>Merchant Transaction Reference No</td>
					<td>{{ response.merchantTransactionIdentifier }}</td>
				</tr>
				<tr>
					<td>TPSL Transaction ID</td>
					<td>{{ response.paymentMethod.paymentTransaction.identifier }}</td>
				</tr>
				<tr>
					<td>Message</td>
					<td>{{ response.paymentMethod.error.desc }}</td>
				</tr>
				<tr>
                    <td>Status</td>
                    <td>{{ response.paymentMethod.paymentTransaction.statusMessage }}</td>
                </tr>
				<tr>
                    <td>Date Time</td>
                    <td>{{ response.paymentMethod.paymentTransaction.dateTime }}</td>
                </tr>
			</table>
		{% endif %}
	</form>
</body>
</html>
